@model tbTest

@using StudyProject.Models.Core;

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    int count = -1;
    int timer = Model.TimeOnTest * 60;
}

<h2 class="text-center">Тест</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (timer != 0)
                {
                    <h4 id="timer" class="text-center">Часу залишилось: </h4>
                }
                @using (Html.BeginForm("Test","Home",FormMethod.Post,new { @id="fform"}))
                {
                    foreach (tbTask task in Model.tbTask.Where(w => w.tbTaskVariant.Any()).OrderByDescending(o => o.Type == (int)TaskStuff.TaskType.SelectCheckBox).ToList())
                    {
                        count++;
                        @*<h4 class="text-center">@task.Name</h4>*@
                        <h5>Завдання: @task.Description</h5>
                        if (task.Type == (int)TaskStuff.TaskType.SelectCheckBox)
                        {

                            string type = "radio";

                            if (task.tbTaskVariant.Where(W => W.isRight).Count() > 1)
                            {
                                type = "checkbox";
                            }

                            foreach (tbTaskVariant variant in task.tbTaskVariant)
                            {
                                <div class="ml-2 mt-1">
                                    <div class="form-group">
                                        <input type=@type name="answersId" value="@variant.idTaskVariant" />  <label>@variant.Name</label>
                                    </div>
                                </div>
                            }
                        }
                        if (task.Type == (int)TaskStuff.TaskType.Input)
                        {
                            <div class="form-group mt-1">
                                <textarea name="inputAnswers" class="form-control col-6"></textarea>
                                <input type="hidden" name="idTaskVariants" value="@task.tbTaskVariant.FirstOrDefault().idTaskVariant" />
                            </div>
                        }
                    }
                    <input type="hidden" name="idTest" value="@Model.idTest" />
                    <input type="submit" onclick="clear()" class="btn btn-success mt-2" value="Завершити" />
                }
            </div>
        </div>
    </div>
</div>

@if (timer != 0)
{
    @section Scripts{ 
        <script>
            startday = new Date();
            clockStart = startday.getTime();

            var timerKey = 'timer' + '@Model.idTest'

            if (localStorage.getItem(timerKey) !== null) {
                clockStart = localStorage.getItem(timerKey)
            } else {
                localStorage.setItem(timerKey, clockStart)
            }

            document.addEventListener("DOMContentLoaded", function (event) {
             var idInterval = setInterval(timer, 1000);

                function timer() {
                    var date = new Date()
                    var timeNow = date.getTime()
                    var timeDiff = timeNow - clockStart
                    var diffSecs = timeDiff / 1000;
                    var timeOnTest = @timer

                    var availableTime = timeOnTest - diffSecs

                    var hours = Math.floor(availableTime / 60 / 60);

                    var minutes = Math.floor(availableTime / 60) - (hours * 60);

                    var seconds = availableTime % 60;

                    if (diffSecs >= timeOnTest) {
                        clearInterval(idInterval)
                        localStorage.removeItem(timerKey);
                        submit()
                    } else {
                        var formatted = 'Часу залишилось: ' + hours + ' год. ' + minutes + ' мин. ' + Math.floor(seconds) + ' сек.'
                        $('#timer').text(formatted)
                    }
                }
            });

            function clear() {
                localStorage.removeItem(timerKey);
            }

            function submit() {
                $('#fform').submit()
            }
        </script>
    }
}