@using StudyProject.Models
@using StudyProject.Models.Core
@using System

@model List<tbUser>


@{
    ViewBag.Title = "AddNewAdmin";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    UserInfo uInfo = new UserInfo(new StudyPlatformEntities());
    UserRole[] roles = { UserRole.Admin, UserRole.Tutor, UserRole.Applicant };
}

<h4 class="text-center">Управління користувачами</h4>

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="table">
                    <tr>
                        <th>
                            Ім'я
                        </th>
                        <th>
                            Фамілія
                        </th>
                        <th>
                            По батькові
                        </th>
                        <th>
                            Логін
                        </th>
                        <th>
                            Вік
                        </th>
                        <th>
                            Роль
                        </th>
                        <th>
                            Дата створення
                        </th>
                        <th>Змінити роль</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Login)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreate)
                            </td>
                            <td>
                                @foreach (UserRole uRole in roles)
                                {
                                    if (item.Role != (int)uRole)
                                    {
                                        using (Html.BeginForm("ChangeUserRole", "Admin", new { idUser = item.idUser, Role = (int)uRole }, FormMethod.Post))
                                        {
                                            <button class="btn btn-success btn-xs" type="submit">@UserInfo.getTextByRole(uRole)</button>
                                        }
                                    }
                                }
                            </td>
                            <td>
                                @if (!item.idUser.Equals(uInfo.fuser.idUser))
                                {
                                    using (Html.BeginForm("RemoveUser", "Admin", new { idUser = item.idUser }, FormMethod.Post))
                                    {
                                        <button class="btn btn-danger btn-xs" type="submit"><i class="fa fa-trash"></i></button>
                                    }
                                }
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>