@model tbTask

@using StudyProject.Models.Core

@{
    ViewBag.Title = "ViewVariant";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    int ordering = 0;
}

<h2 class="text-center">Варіанти відповідей</h2>

@if (Model.Type == (int)TaskStuff.TaskType.SelectCheckBox)
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#createVariant">
                        <i class="fas fa-plus fa-1x"></i> Створити варіант
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("VariantOrderEdit", "Tutor"))
                    {
                        <table class="table text-center" id="daragTable">
                            <tr>
                                <th>Номер</th>
                                <th>Варіант</th>
                                <th>Відповідь правильна</th>
                                <th>Редагувати</th>
                                <th>Видалити</th>
                            </tr>
                            @foreach (tbTaskVariant variant in Model.tbTaskVariant.OrderBy(o => o.PositionNumber))
                            {
                                <tr style="cursor:move">
                                    <td>
                                        <span class="index">@variant.PositionNumber</span>
                                        <input name="[@ordering].id" value="@variant.idTaskVariant" hidden />
                                        <input name="[@ordering].order" value="@variant.PositionNumber" id="index" hidden />
                                    </td>
                                    <td>@variant.Name</td>
                                    <td>
                                        @if (variant.isRight)
                                        {
                                            <label>Так</label>
                                        }
                                        else
                                        {
                                            <label>Ні</label>
                                        }
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#editVariant" onclick="setValue('@variant.idTaskVariant')">
                                            <i class="fas fa-edit fa-1x" style="color:black"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("RemoveVariant", "Tutor", new { idTaskVariant = variant.idTaskVariant, idTask = variant.id_task })" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </table>
                        <button type="submit" class="btn btn-success">Зберегти</button>
                    }
                </div>
            </div>
        </div>
    </div>


    using (Html.BeginForm("CreateVariant", "Tutor", FormMethod.Post))
    {
        <div class="modal fade" id="createVariant" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="title">Створення варіанта відповідей</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-12">Варіант</label>
                                <div class="col-12">
                                    <input type="text" name="Name" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-12">Відповідь правильна:</label>
                                    <div class="col-12">
                                        <div><input type="radio" name="isRight" value="true" class="ml-3" /> Так</div>
                                        <div><input type="radio" name="isRight" value="false" class="ml-3" /> Ні</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="PositionNumber" value="@(Model.tbTaskVariant.Count()+1)" />
                        <input type="hidden" name="idTask" class="form-control" value="@Model.idTask" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </div>
                </div>
            </div>
        </div>
    }


    using (Html.BeginForm("EditVariant", "Tutor", FormMethod.Post))
    {
        <div class="modal fade" id="editVariant" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="title">Редагування варіанта відповідей</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-12">Варіант</label>
                                <div class="col-12">
                                    <input type="text" name="Name" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-12">Відповідь правильна:</label>
                                    <div class="col-12">
                                        <input type="hidden" name="idTask" class="form-control" value="@Model.idTask" />
                                        <input type="hidden" name="idTaskVariant" id="taskVariant" class="form-control" value="" />
                                        <div><input type="radio" name="isRight" value="true" class="ml-3" /> Так</div>
                                        <div><input type="radio" name="isRight" value="false" class="ml-3" /> Ні</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </div>
                </div>
            </div>
        </div>
    }

}
else
{


<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#createVariant">
                        <i class="fas fa-plus fa-1x"></i> Створити відповідь
                    </button>
                </div>
            </div>
        </div>
    </div><div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("VariantOrderEdit", "Tutor"))
                    {
                        <table class="table" id="daragTable">
                            <tr>
                                <th>Позиція</th>
                                <th>Правильна відповідь</th>
                                <th>Редагувати</th>
                            </tr>
                            @foreach (tbTaskVariant variant in Model.tbTaskVariant.OrderBy(o => o.PositionNumber))
                            {
                                <tr style="cursor:move">
                                    <td>
                                        <span class="index">@variant.PositionNumber</span>
                                        <input name="[@ordering].id" value="@variant.idTaskVariant" hidden />
                                        <input name="[@ordering].order" value="@variant.PositionNumber" id="index" hidden />
                                    </td>
                                    <td>@variant.Name</td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#editVariant" onclick="setValue('@variant.idTaskVariant')">
                                            <i class="fas fa-edit fa-1x" style="color:black"></i>
                                        </button>
                                    </td>
                                </tr>
                                ordering++;
                            }
                        </table>
                        <input name="idTask" value="@Model.idTask" type="hidden" />
                        <button type="submit" class="btn btn-success">Зберегти</button>
                    }
                </div>
            </div>
        </div>
    </div>


    using (Html.BeginForm("CreateVariant", "Tutor", FormMethod.Post))
    {
        <div class="modal fade" id="createVariant" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="title">Введіть правильну відповідь</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-12">Варіант</label>
                                <div class="col-12">
                                    <input type="text" name="Name" class="form-control" />
                                    <input type="hidden" name="isRight" value="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="PositionNumber" value="@(Model.tbTaskVariant.Count()+1)" />
                        <input type="hidden" name="idTask" class="form-control" value="@Model.idTask" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </div>
                </div>
            </div>
        </div>
    }


    using (Html.BeginForm("EditVariant", "Tutor", FormMethod.Post))
    {
        <div class="modal fade" id="editVariant" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="title">Введіть правильну відповідь</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-12">Варіант</label>
                                <div class="col-12">
                                    <input type="hidden" name="idTask" class="form-control" value="@Model.idTask" />
                                    <input type="hidden" name="idTaskVariant" id="taskVariant" class="form-control" value="" />
                                    <input type="text" name="Name" class="form-control" />
                                    <input type="hidden" name="isRight" value="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </div>
                </div>
            </div>
        </div>
    }
}


@section Scripts{
    <script>
        function setValue(id) {
            $('#taskVariant').val(id);
        }
    </script>
    <script>
        var fixHelperModified = function (e, tr) {
            var $originals = tr.children();
            var $helper = tr.clone();
            $helper.children().each(function (index) {
                $(this).width($originals.eq(index).width())
            });
            return $helper;
        },

            updateIndex = function (e, ui) {
                $('span.index', ui.item.parent()).each(function (i) {
                    $(this).html(i + 1);
                });
                $('input#index', ui.item.parent()).each(function (i) {
                    $(this).val(i + 1);
                });
            };

        $("#daragTable tbody").sortable({
            helper: fixHelperModified,
            stop: updateIndex
        }).disableSelection();

        $("#daragTable tbody").sortable({
            distance: 5,
            delay: 100,
            opacity: 0.6,
            cursor: 'move',
            update: function () { }
        });
    </script>

}